<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testSpring.test.TestDao" >
  <select id="selectTestAll" resultType="com.testSpring.test.dto.TestDto">
	SELECT TEST1, TEST2, TEST3, TEST4, TEST5 FROM test
  </select>
</mapper>